body {
    font-size: .875rem;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}
.card {
  border-color: #edf2f9;
  box-shadow: 0 .75rem 1.5rem rgba(18,38,63,.03);
  margin-bottom: 1.5rem;
  word-wrap: break-word;
  background-clip: border-box;
  background-color: #fff;
  border: 1px solid #edf2f9;
   border-radius: .5rem;
  display: flex;
  flex-direction: column;
  min-width: 0;
  position: relative;
}
.card-body{
    flex: 1 1 auto;
    padding: 1.5rem;
}
.user-40{
    float: right;
    height: 40px;
    width:  40px;
    color: lightgrey;
}
.user-35{
    float: left;
    height: 35px;
    width: 35px;
    color: lightgrey;
}
.tableRow{
    border-bottom: 1px solid;
    border-color: lightgrey;
}
.tableData{

}
.table-header{
    background-color: rgb(255, 112, 87);
    color: white;
    font-weight: normal;
}
/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    /* rtl:raw:
    right: 0;
    */
    bottom: 0;
    /* rtl:remove */
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 48px 0 0; /* Height of navbar */
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 5rem;
    }
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: .5rem;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #727272;
}

.sidebar .nav-link.active {
    color: #2470dc;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

/*
 * Navbar
 */
.colour{
    background-color: rgb(14, 27, 44);
}
.navbar-brand {
    font-size: 1rem;
    height: 50px;
    width: auto;
    background-color: rgba(255, 255, 255);
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .05);
}

.navbar .navbar-toggler {
    top: .25rem;
    right: 1rem;
}

.navbar .form-control {
    padding: .75rem 1rem;
    border-width: 0;
    border-radius: 0;
}

.form-control-dark {
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
    border-color: transparent;
    box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
